<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">BlogHub</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <%if (session){%>
      <li class="nav-item">
        <button class="btn btn-outline-danger" id="logoutButton">Logout</button>
      </li>
      <%}%>
    </ul>
  </div>
</nav>

<script>
  document
    .getElementById("logoutButton")
    .addEventListener("click", function () {
      fetch("/logout", {
        method: "POST",
        credentials: "same-origin",
      }).then((response) => {
        if (response.ok) {
          window.location.href = "/";
        } else {
          alert("Logout failed!");
        }
      });
    });
</script>
