<!-- Nav bar partial to reuse across different pages for consistency and reusability -->
<nav class="navbar navbar-expand-lg text-white" style="background-color: rgb(28, 28, 28);">
  <a class="navbar-brand fw-bold ms-4 text-white" href="/">BlogHub</a>
  <div class="collapse navbar-collapse justify-content-end align-items-end me-4 mt-1" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <%if (session){%>
      <li class="nav-item">
        <button class="btn btn-outline-danger" id="logoutButton">Logout</button>
      </li>
      <%}%>
    </ul>
  </div>
</nav>

<!-- Logout script to destroy the session -->
<script>
  document
    .getElementById("logoutButton")
    .addEventListener("click", function () {
      fetch("/logout", {
        method: "POST",
        credentials: "same-origin",
      }).then((response) => {
        if (response.ok) {
          window.location.href = "/";
        } else {
          alert("Logout failed!");
        }
      });
    });
</script>
