<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Article</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
      }
      .title-input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-weight: bold;
        font-size: 24px; /* Increased font size */
      }
      .content-textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 600px;
      }
      .button-group {
        text-align: right;
        margin-top: 20px;
      }
      .button {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .draft-button {
        background-color: #f0ad4e;
        color: white;
      }
      .publish-button {
        background-color: #5cb85c;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="col-md-12 mt-3">
      <a href="/author/home" class="btn btn-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-box-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"
          />
          <path
            fill-rule="evenodd"
            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"
          />
        </svg>
        Back to Dashboard
      </a>
    </div>
    <div class="container">
      <form action="/save_article" method="post">
        <input
          type="text"
          name="title"
          class="title-input"
          value="<%= article.title %>"
          placeholder="Title"
        />
        <textarea name="content" class="content-textarea" placeholder="Content">
<%= article.content %></textarea
        >
        <div class="button-group">
          <button
            type="submit"
            name="action"
            value="draft"
            class="button draft-button"
          >
            Save as Draft
          </button>
          <button
            type="submit"
            name="action"
            value="publish"
            class="button publish-button"
          >
            Publish
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
