<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogHub</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/nav-bar') %>
    <div class="container">
      <h1 class="text-center mt-5">
        Welcome to <span class="website-name">BlogHub</span>
      </h1>
      <div class="row mt-5">
        <div class="col-md-4 offset-md-2 text-center">
          <a href="/reader-home" class="btn btn-primary btn-lg btn-block"
            >Login as Reader</a
          >
        </div>
        <div class="col-md-4 text-center">
          <a href="/writer/writer" class="btn btn-secondary btn-lg btn-block"
            >Login as Writer</a
          >
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 offset-md-4 text-center">
          <a href="/signup" class="btn btn-success btn-lg btn-block"
            >Sign up!</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
